body{
  font-family: Arial, Helvetica, sans-serif;
}


.login-button{
  display:flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;

}


.nav-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu-list{
  
  display:flex;
  justify-content:center;
  list-style-type: none;
  padding:0;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-area{
  border-bottom: 1px solid #000;
  padding: 5px;
  position: absolute;
  right: 20px;   
}


.search-area input {
    border: none;
    outline: none;
  }

.card {
  border:none !important;
  margin-bottom: 10px;
}

.card:hover{
  transform: scale(1.1);
  z-index: 1;
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu-area {
    display: none;
  }
  .search-area{
    display: none;
  }
}

.product-img{
  display: flex;
  justify-content:flex-end;
}